$TTL    900
$ORIGIN yararchive.ru.
@               IN      SOA     {{ inventory_hostname }}.       it.yararchive.ru. (
                                {{ ansible_date_time.year }}{{ ansible_date_time.month }}{{ ansible_date_time.day }} ; serial
                                900    ; refresh
                                90     ; retry
                                86400  ; expire
                                900    ; nxdomain ttl
                                )
@                               IN        CAA       0 issue "letsencrypt.org"
@                               IN        CAA       0 issuewild "letsencrypt.org"
@                               IN        CAA       0 iodef "mailto:it@yararchive.ru"
@                               IN        NS        {{ inventory_hostname }}.
@                               IN        A         172.16.50.103
@                               IN        MX 10     m
@                               IN        TXT       "v=spf1 mx -all"
1680642962._domainkey           IN        TXT       "v=DKIM1; k=rsa; p=MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDFAJRvsvh9kQyMyS0QtNdu64e4W5IPNjx+EnD8XzbIfBJfQS7MjHzVADBR0jbwwKAw3GRCmAyt/Ldpeyp+j+fkhuPNRuq39riiOloN/ohUv/4wA44HbDKL0dO5b5NAqfxCU4CnBtfTUWtjBl4Kp+EQPwWbkCIKnLfulG3V8LwbpwIDAQAB"
m                               IN        A         172.16.50.5
imap                            IN        CNAME     m
smtp                            IN        CNAME     m
_dmarc                          IN        TXT       "v=DMARC1; p=reject; rua=mailto:it@yararchive.ru; adkim=s; aspf=s; pct=100;"
{{ inventory_hostname }}.       IN        A         {{ ansible_default_ipv4.address }}
www                             IN        A         172.16.50.103
cloud                           IN        A         172.16.50.103
mirror                          IN        A         172.16.50.103
mail                            IN        CNAME     domain.mail.yandex.net.
yar-archives                    IN        A         91.201.208.165
homepage                        IN        A         {{ db_yararchive_ru_homepage }}
download                        IN        A         {{ db_yararchive_ru_download }}
