driver = pgsql
connect = \
  host={{ postgresql_host }} \
  port=5432 \
  dbname={{ postgresql_mail_server_databse_name }} \
  user={{ postgresql_mail_server_databse_user_name }} \
  password={{ postgresql_mail_server_databse_user_password }}

user_query = SELECT fqda as user, \
  '*:bytes=' || quota AS "quota_rule", \
  '{{ [mail_storage_user_home, '%d', '%n'] | ansible.builtin.path_join }}' AS "home", \
  {{ mail_storage_uid }} AS "uid", \
  {{ mail_storage_gid }} AS "gid" \
  FROM users_fqda WHERE fqda = '%u';

password_query = SELECT fqda AS user, password_hash AS password FROM users_fqda WHERE fqda = '%u';

iterate_query = SELECT fqda AS user FROM users_fqda;
