{
    "Control-agent": {
        "http-host": "{{ ansible_default_ipv4.address }}",
        "http-port": {{ setup_kea_dhcp4_server_ctrl_agent_port }},
        "control-sockets": {
            "dhcp4": {
                "socket-type": "unix",
                "socket-name": "{{ setup_kea_dhcp4_server_socket_name }}"
            },
            "dhcp6": {
                "socket-type": "unix",
                "socket-name": "/run/kea/kea6-ctrl-socket"
            },
            "d2": {
                "socket-type": "unix",
                "socket-name": "/run/kea/kea-ddns-ctrl-socket"
            }
        },
        "hooks-libraries": [],
        "loggers": [
            {
                "name": "kea-ctrl-agent",
                "output_options": [
                    {
                        "output": "/var/log/kea/kea-ctrl-agent.log",
                        "flush": false,
                        "maxsize": 104857600,
                        "maxver": 8
                    }
                ],
                "severity": "INFO",
                "debuglevel": 0
            }
        ]
    }
}
