KRB5CC="/tmp/dhcpd4.krb5cc"
KEYTAB="{{ setup_kea_dhcp4_server_kerberos_keytab_file }}"
DOMAIN="{{ ansible_domain | lower }}"
REALM="{{ ansible_domain | upper }}"
PRINCIPAL="{{ setup_kea_dhcp4_server_kerberos_keytab_user }}@${REALM}"
NAMESERVER="{{ inventory_hostname_short }}.${DOMAIN}"
ZONE="${DOMAIN}"
