#!/bin/bash

. {{ setup_kea_dhcp4_server_directory }}/libdhcp_run_script.conf || exit 1
. /etc/environment || exit 1

HNAME=`echo "${LEASE4_HOSTNAME}" | sed "s/\..*$//"`

if [ -n "${LEASE4_ADDRESS}" ]; then
    LEASE_ADDRESS="${LEASE4_ADDRESS}"
fi

if [ -n "${LEASES4_AT0_ADDRESS}" ]; then
    LEASE_ADDRESS="${LEASES4_AT0_ADDRESS}"
fi

if [ -n "$1" ] && [ -n "${HNAME}" ] && [ -n "${LEASE_ADDRESS}" ]; then
    case $1 in
        leases4_committed | lease4_renew | lease4_recover)
            ACTION=ADD
        ;;
        *)
            echo "Error: invalid action ${1} for ${HNAME} (${LEASE_ADDRESS}). Skip."
            exit 3
        ;;
    esac

    IP=$LEASE_ADDRESS
    export PATH KRB5CC KEYTAB DOMAIN REALM PRINCIPAL NAMESERVER ZONE ACTION IP HNAME

    {{ setup_kea_dhcp4_server_directory }}/samba-dnsupdate.sh -m &
fi
