                            "peers": [
                                {
                                    "name": "gayodc01",
                                    "url": "http://172.16.50.1:{{ setup_kea_dhcp4_server_ctrl_agent_port }}/",
                                    "role": "primary",
                                    "auto-failover": true
                                },
                                {
                                    "name": "gayodc02",
                                    "url": "http://172.16.50.100:{{ setup_kea_dhcp4_server_ctrl_agent_port }}/",
                                    "role": "standby",
                                    "auto-failover": true
                                }
                            ]
