                            "peers": [
                                {
                                    "name": "gayodc01",
                                    "url": "https://gayodc01.corp.yararchive.ru:{{ kea_ctrl_agent_port }}/",
                                    "role": "primary",
                                    "auto-failover": true
                                },
                                {
                                    "name": "gayodc02",
                                    "url": "https://gayodc02.corp.yararchive.ru:{{ kea_ctrl_agent_port }}/",
                                    "role": "standby",
                                    "auto-failover": true
                                }
                            ]
