"reservations": [
    {
        "hw-address": "b4:99:ba:b2:fa:30",
        "ip-address": "172.16.0.200",
        "hostname": "dl380g7ilo3"
    },
    {
        "hw-address": "9c:b6:54:b7:ed:6c",
        "ip-address": "172.16.0.201",
        "hostname": "dl380g8ilo4"
    },
    {
        "hw-address": "00:15:5d:26:c1:02",
        "ip-address": "172.16.50.2",
        "hostname": "gayoapps01"
    },
    {
        "hw-address": "00:15:5d:45:07:01",
        "ip-address": "172.16.50.3",
        "hostname": "gayowebsite01"
    },
    {
        "hw-address": "00:15:5d:08:45:16",
        "ip-address": "172.16.50.103",
        "hostname": "gayoweb01"
    },
    {
        "hw-address": "00:15:5d:38:01:04",
        "ip-address": "172.16.50.10",
        "hostname": "gayofiles01"
    },
    {
        "hw-address": "24:5e:be:3c:75:70",
        "ip-address": "172.16.0.2",
        "hostname": "gayostorage01"
    },
    {
        "hw-address": "24:5e:be:3c:75:71",
        "ip-address": "172.16.0.3",
        "hostname": "gayostorage01"
    },
    {
        "hw-address": "24:5e:be:3e:4d:6e",
        "ip-address": "172.16.0.4",
        "hostname": "gayostorage02"
    },
    {
        "hw-address": "24:5e:be:3e:4d:6f",
        "ip-address": "172.16.0.5",
        "hostname": "gayostorage02"
    },
    {
        "hw-address": "00:15:5d:63:61:05",
        "ip-address": "172.16.50.6",
        "hostname": "gayoglpi01"
    },
    {
        "hw-address": "00:15:5d:63:61:07",
        "ip-address": "172.16.50.9",
        "hostname": "gayobackups01"
    },
    {
        "hw-address": "00:15:5d:26:c1:00",
        "ip-address": "172.16.50.11",
        "hostname": "gayosqlsrv01"
    },
    {
        "hw-address": "00:15:5d:26:c1:01",
        "ip-address": "172.16.50.12",
        "hostname": "gayoiis01"
    },
    {
        "hw-address": "00:15:5d:38:01:00",
        "ip-address": "172.16.50.4",
        "hostname": "gayovipnetadm01"
    },
    {
        "hw-address": "00:15:5d:38:01:02",
        "ip-address": "172.16.50.7",
        "hostname": "gayokms01"
    },
    {
        "hw-address": "70:85:c2:ff:66:1b",
        "ip-address": "172.16.0.30",
        "hostname": "gayo1c01"
    },
    {
        "hw-address": "00:15:5d:45:07:04",
        "ip-address": "172.16.50.13",
        "hostname": "gayovpnclient01"
    },
    {
        "hw-address": "00:15:5d:45:07:05",
        "ip-address": "172.16.50.15",
        "hostname": "gayovpnclient02"
    },
    {
        "hw-address": "00:15:5d:08:45:02",
        "ip-address": "172.16.50.16",
        "hostname": "gayovipnet01"
    },
    {
        "hw-address": "00:15:5d:26:c1:03",
        "ip-address": "172.16.50.14",
        "hostname": "gayoansible01"
    },
    {
        "hw-address": "3c:2a:f4:b7:19:9c",
        "ip-address": "172.16.12.1",
        "hostname": "gayo1040871"
    },
    {
        "hw-address": "b0:22:7a:55:97:74",
        "ip-address": "172.16.12.2",
        "hostname": "gayo1040949"
    },
    {
        "hw-address": "3c:2a:f4:ee:0d:71",
        "ip-address": "172.16.12.3",
        "hostname": "gayo1040915"
    },
    {
        "hw-address": "3c:2a:f4:c4:79:5d",
        "ip-address": "172.16.12.4",
        "hostname": "gayo1040880"
    },
    {
        "hw-address": "3c:2a:f4:ee:0c:df",
        "ip-address": "172.16.12.5",
        "hostname": "gayo1040914"
    },
    {
        "hw-address": "9c:93:4e:ac:9e:43",
        "ip-address": "172.16.12.6",
        "hostname": "gayo1040958"
    },
    {
        "hw-address": "9c:93:4e:ad:53:f3",
        "ip-address": "172.16.12.7",
        "hostname": "gayo1040952"
    },
    {
        "hw-address": "9c:93:4e:ad:15:23",
        "ip-address": "172.16.12.8",
        "hostname": "gayo1040955"
    },
    {
        "hw-address": "00:15:5d:63:61:04",
        "ip-address": "172.16.50.1",
        "hostname": "gayodc01"
    },
    {
        "hw-address": "00:15:5d:45:07:02",
        "ip-address": "172.16.50.100",
        "hostname": "gayodc02"
    },
    {
        "hw-address": "00:15:5d:99:01:00",
        "ip-address": "172.16.50.5",
        "hostname": "gayomail01"
    }
]
