                            "peers": [
                                {
                                    "name": "cdnidc01",
                                    "url": "http://172.17.50.1:{{ kea_ctrl_agent_port }}/",
                                    "role": "primary",
                                    "auto-failover": true
                                },
                                {
                                    "name": "cdnidc02",
                                    "url": "http://172.17.50.100:{{ kea_ctrl_agent_port }}/",
                                    "role": "standby",
                                    "auto-failover": true
                                }
                            ]
