"reservations": [
    {
        "hw-address": "2c:36:f8:30:22:c0",
        "ip-address": "172.17.0.255",
        "hostname": "cdniswitch01"
    },
    {
        "hw-address": "00:15:5d:92:87:05",
        "ip-address": "172.17.50.2",
        "hostname": "cdniapps01"
    },
    {
        "hw-address": "00:15:5c:92:87:04",
        "ip-address": "172.17.50.3",
        "hostname": "cdniaf01"
    },
    {
        "hw-address": "00:15:5d:b7:a8:00",
        "ip-address": "172.17.7.9",
        "hostname": "cdnivipnet01"
    },
    {
        "hw-address": "00:15:5d:63:77:0a",
        "ip-address": "172.17.50.10",
        "hostname": "cdnifiles01"
    },
    {
        "hw-address": "24:5e:be:3e:4d:fe",
        "ip-address": "172.17.0.6",
        "hostname": "cdnistorage01"
    },
    {
        "hw-address": "24:5e:be:3e:4d:ff",
        "ip-address": "172.17.0.106",
        "hostname": "cdnistorage01"
    },
    {
        "hw-address": "3c:2a:f4:b7:19:70",
        "ip-address": "172.17.12.1",
        "hostname": "cdni1040874"
    },
    {
        "hw-address": "9c:93:4e:ad:35:a8",
        "ip-address": "172.17.12.2",
        "hostname": "cdni1040953"
    },
    {
        "hw-address": "9c:93:4e:ad:45:a5",
        "ip-address": "172.17.12.3",
        "hostname": "cdni1040951"
    },
    {
        "hw-address": "00:15:5d:63:77:09",
        "ip-address": "172.17.50.1",
        "hostname": "cdnidc01"
    },
    {
        "hw-address": "00:15:5d:f1:f1:00",
        "ip-address": "172.17.50.100",
        "hostname": "cdnidc02"
    }
]
