                "subnet": "172.17.0.0/16",
                "pools": [
                    {
                        "pool": "172.17.8.1 - 172.17.10.255"
                    }
                ],
                "option-data": [
                    {
                        "name": "routers",
                        "data": "172.17.0.1"
                    }
                ],
