<VirtualHost *:443>
    ServerName autoconfig.{{ mail_domain.name }}
    DocumentRoot /var/www/autoconfig.{{ mail_domain.name }}
    SSLEngine on
    SSLCertificateFile {{ mail_domain.autoconfig.cert_fullchain_file }}
    SSLCertificateKeyFile {{ mail_domain.autoconfig.cert_key_file }}
</VirtualHost>

<VirtualHost *:80>
    ServerName autoconfig.{{ mail_domain.name }}
    Redirect permanent / https://autoconfig.{{ mail_domain.name }}/
</VirtualHost>
