[Samba AD DC]
title=LanManager-like file and printer server for Unix
description=The Samba software suite is a collection of programs that implements the SMB/CIFS protocol for unix systems, allowing you to serve files and printers to Windows, NT, OS/2 and DOS clients. This protocol is sometimes also referred to as the LanManager or NetBIOS protocol.
ports=88|135/tcp|137/udp|138/udp|139/tcp|389|445/tcp|464|636/tcp|3268/tcp|3269/tcp|49152:65535/tcp
