user = {{ postgresql.mail_server_user_name }}
password = {{ postgresql.mail_server_user_pass }}
hosts = {{ postgresql.host }}:{{ postgresql.port }}
dbname = {{ postgresql.mail_server_database }}
query = SELECT 1 AS found FROM accounts WHERE username = '%u' AND domain = '%d' AND enabled = true LIMIT 1;
