{% for mail_domain in mail_domains %}
-- passwords are alice123, bob123, carl123, tech123
INSERT INTO accounts (username, domain, password, quota) VALUES
('alice','{{ mail_domain.name }}','$argon2id$v=19$m=16,t=2,p=1$QUplUG8wTnc0V0dCczFYcQ$MtOlTfFTDeUb/aVv9nj9Fg', 10737418240),
('bob','{{ mail_domain.name }}','$argon2id$v=19$m=16,t=2,p=1$c0swTXl5OTFiUXFZNHlFdA$2R3pzVbXY5KlQ58npSZViQ', 10737418240),
('carl','{{ mail_domain.name }}','$argon2id$v=19$m=16,t=2,p=1$bE43MUFpa21iQWJWR1dCUA$sC/zUoW8YtcWghrKd645Vg', 10737418240),
('tech','{{ mail_domain.name }}','$argon2id$v=19$m=16,t=2,p=1$T0lZZ2Q4ZGZnaA$Ih9I537tvyQIEcBr+T3TkrY7z3R8XQ', 10737418240)
ON CONFLICT DO NOTHING;

INSERT INTO aliases (source_username, source_domain, destination_username, destination_domain) VALUES
('boss', '{{ mail_domain.name }}', 'alice', '{{ mail_domain.name }}'),
('postmaster','{{ mail_domain.name }}','tech','{{ mail_domain.name }}'),
('abuse','{{ mail_domain.name }}','tech','{{ mail_domain.name }}'),
('secretary', '{{ mail_domain.name }}', 'bob', '{{ mail_domain.name }}'),
('orders', '{{ mail_domain.name }}', 'carl', '{{ mail_domain.name }}')
ON CONFLICT DO NOTHING;
{% endfor %}
