-- passwords are alice123, bob123, carl123
INSERT INTO users (local, domain, password_hash, quota) VALUES
('alice','{{ mail_domain }}','$argon2id$v=19$m=16,t=2,p=1$QUplUG8wTnc0V0dCczFYcQ$MtOlTfFTDeUb/aVv9nj9Fg', 10737418240),
('bob','{{ mail_domain }}','$argon2id$v=19$m=16,t=2,p=1$c0swTXl5OTFiUXFZNHlFdA$2R3pzVbXY5KlQ58npSZViQ', 10737418240),
('carl','{{ mail_domain }}','$argon2id$v=19$m=16,t=2,p=1$bE43MUFpa21iQWJWR1dCUA$sC/zUoW8YtcWghrKd645Vg', 10737418240)
ON CONFLICT DO NOTHING;

INSERT INTO aliases (source_local, source_domain, destination_local, destination_domain) VALUES
('boss', '{{ mail_domain }}', 'alice', '{{ mail_domain }}'),
('postmaster','{{ mail_domain }}','alice','{{ mail_domain }}'),
('secretary', '{{ mail_domain }}', 'bob', '{{ mail_domain }}'),
('orders', '{{ mail_domain }}', 'carl', '{{ mail_domain }}')
ON CONFLICT DO NOTHING;

INSERT into shared_mailboxes (shared_mailbox_local, shared_mailbox_domain, shared_to_local, shared_to_domain) VALUES
('alice', '{{ mail_domain }}', 'bob', '{{ mail_domain }}')
ON CONFLICT DO NOTHING;
