root={{ email_username }}
Mailhub={{ email_host }}:{{ email_port }}
RewriteDomain={{ ssmtp_rewrite_domain }}
Hostname={{ inventory_hostname }}
FromLineOverride=YES
UseTLS=YES
TLS_CA_File=/etc/ssl/certs/ca-certificates.crt
TLS_CA_Dir=/etc/ssl/certs
AuthUser={{ email_username }}
AuthPass={{ email_password }}
AuthMethod=LOGIN
