root={{ setup_system_email_accounts_username }}
Mailhub={{ setup_system_email_accounts_host }}:{{ setup_system_email_accounts_port }}
RewriteDomain={{ setup_system_email_accounts_ssmtp_rewrite_domain }}
Hostname={{ inventory_hostname }}
FromLineOverride=YES
UseTLS=YES
TLS_CA_File=/etc/ssl/certs/ca-certificates.crt
TLS_CA_Dir=/etc/ssl/certs
AuthUser={{ setup_system_email_accounts_username }}
AuthPass={{ setup_system_email_accounts_password }}
AuthMethod=LOGIN
