"reservations": [
    {
        "hw-address": "00:15:5d:e3:d1:02",
        "ip-address": "172.19.50.2",
        "hostname": "rbnskapps01"
    },
    {
        "hw-address": "00:15:5d:8f:c1:01",
        "ip-address": "172.19.50.3",
        "hostname": "rbnskaf01"
    },
    {
        "hw-address": "00:15:5d:e3:d1:01",
        "ip-address": "172.19.50.10",
        "hostname": "rbnskfiles01"
    },
    {
        "hw-address": "90:2b:34:4a:30:cf",
        "ip-address": "172.19.7.11",
        "hostname": "rbnsk1040640"
    },
    {
        "hw-address": "3c:2a:f4:b7:19:73",
        "ip-address": "172.19.12.1",
        "hostname": "rbnsk1040873"
    },
    {
        "hw-address": "24:5e:be:3c:85:da",
        "ip-address": "172.19.0.2",
        "hostname": "rbnskstorage01"
    },
    {
        "hw-address": "24:5e:be:3c:85:db",
        "ip-address": "172.19.0.102",
        "hostname": "rbnskstorage01"
    },
    {
        "hw-address": "24:5e:be:3e:50:9a",
        "ip-address": "172.19.0.5",
        "hostname": "rbnskstorage02"
    },
    {
        "hw-address": "24:5e:be:3e:50:9b",
        "ip-address": "172.19.0.105",
        "hostname": "rbnskstorage02"
    },
    {
        "hw-address": "9c:93:4e:ad:5b:22",
        "ip-address": "172.19.12.2",
        "hostname": "rbnsk1040957"
    },
    {
        "hw-address": "b0:22:7a:55:97:78",
        "ip-address": "172.19.12.3",
        "hostname": "rbnsk1040948"
    },
    {
        "hw-address": "00:15:5d:e3:d1:00",
        "ip-address": "172.19.50.100",
        "hostname": "rbnskdc02"
    }
]
