"reservations": [
    {
        "hw-address": "00:15:5d:9b:3b:01",
        "ip-address": "172.21.50.2",
        "hostname": "uglchapps01"
    },
    {
        "hw-address": "00:15:5d:9b:3b:03",
        "ip-address": "172.21.50.3",
        "hostname": "uglchaf01"
    },
    {
        "hw-address": "00:15:5d:85:1a:00",
        "ip-address": "172.21.7.13",
        "hostname": "uglchvipnet01"
    },
    {
        "hw-address": "00:15:5d:9b:3b:05",
        "ip-address": "172.21.50.10",
        "hostname": "uglchfiles01"
    },
    {
        "hw-address": "3c:2a:f4:c4:79:6f",
        "ip-address": "172.21.12.1",
        "hostname": "uglch1040879"
    },
    {
        "hw-address": "24:5e:be:3e:4e:da",
        "ip-address": "172.21.0.4",
        "hostname": "uglchstorage01"
    },
    {
        "hw-address": "24:5e:be:3e:4e:db",
        "ip-address": "172.21.0.104",
        "hostname": "uglchstorage01"
    },
    {
        "hw-address": "b0:22:7a:55:97:77",
        "ip-address": "172.21.12.2",
        "hostname": "uglch1040950"
    },
    {
        "hw-address": "00:15:5d:4e:f2:00",
        "ip-address": "172.21.50.100",
        "hostname": "uglchdc02"
    }
]
