myhostname = {{ mail_server_fqdn }}
compatibility_level = 3.6
biff = no
smtpd_banner = $myhostname ESMTP $mail_name
inet_interfaces = all
inet_protocols = all
smtpd_tls_cert_file = {{ cert_fullchain_file }}
smtpd_tls_key_file = {{ cert_key_file }}
smtpd_tls_security_level = may
smtpd_tls_auth_only = yes
smtp_tls_CApath = /etc/ssl/certs
smtp_tls_security_level = may
smtp_tls_session_cache_database = btree:${data_directory}/smtp_scache
smtpd_tls_mandatory_protocols = !SSLv2, !SSLv3, !TLSv1, !TLSv1.1, !TLSv1.2
tls_preempt_cipherlist = yes
tls_ssl_options = NO_RENEGOTIATION
smtpd_sasl_type = dovecot
smtpd_sasl_path = private/auth
smtpd_sasl_auth_enable = yes
virtual_mailbox_domains = pgsql:/etc/postfix/pgsql-virtual-mailbox-domains.cf
virtual_mailbox_maps = pgsql:/etc/postfix/pgsql-virtual-mailbox-maps.cf
virtual_alias_maps = pgsql:/etc/postfix/pgsql-virtual-alias-maps.cf
virtual_transport = lmtp:unix:private/dovecot-lmtp

smtpd_client_restrictions =
  permit_mynetworks
  permit_sasl_authenticated
  reject_unknown_reverse_client_hostname

smtpd_helo_restrictions =
  permit_mynetworks
  permit_sasl_authenticated
  reject_invalid_helo_hostname
  reject_non_fqdn_helo_hostname
  reject_unknown_helo_hostname
smtpd_helo_required = yes

smtpd_sender_login_maps =
  pgsql:/etc/postfix/pgsql-virtual-mailbox-maps.cf
  pgsql:/etc/postfix/pgsql-virtual-alias-maps.cf

smtpd_sender_restrictions =
  reject_non_fqdn_sender
  reject_sender_login_mismatch
  reject_unknown_sender_domain

smtpd_relay_restrictions =
  permit_sasl_authenticated
  reject_unauth_destination

smtpd_recipient_restrictions =
  reject_non_fqdn_recipient
  reject_unknown_recipient_domain
  reject_unauth_pipelining

message_size_limit = 52428800

smtpd_milters = inet:127.0.0.1:11332
non_smtpd_milters = inet:127.0.0.1:11332
milter_mail_macros = i {mail_addr} {client_addr} {client_name} {auth_authen}
