user = {{ deploy_mail_server_postgresql.mail_server_user_name }}
password = {{ deploy_mail_server_postgresql.mail_server_user_pass }}
hosts = {{ deploy_mail_server_postgresql.host }}:{{ deploy_mail_server_postgresql.port }}
dbname = {{ deploy_mail_server_postgresql.mail_server_database }}
query = SELECT 1 FROM users_fqda WHERE fqda='%s' AND enabled = true;
