user = {{ deploy_mail_server_postgresql.mail_server_user_name }}
password = {{ deploy_mail_server_postgresql.mail_server_user_pass }}
hosts = {{ deploy_mail_server_postgresql.host }}:{{ deploy_mail_server_postgresql.port }}
dbname = {{ deploy_mail_server_postgresql.mail_server_database }}
query = SELECT destination_fqda FROM aliases_fqda WHERE source_fqda='%s';
