"reservations": [
    {
        "hw-address": "00:15:5d:8f:08:01",
        "ip-address": "172.18.50.10",
        "hostname": "cdlsfiles01"
    },
    {
        "hw-address": "00:15:5d:8f:08:03",
        "ip-address": "172.18.50.2",
        "hostname": "cdlsapps01"
    },
    {
        "hw-address": "00:15:5d:8f:08:04",
        "ip-address": "172.18.50.3",
        "hostname": "cdlsaf01"
    }
]
