                            "peers": [
                                {
                                    "name": "cdlsdc01",
                                    "url": "http://172.18.50.1:{{ kea_ctrl_agent_port }}/",
                                    "role": "primary",
                                    "auto-failover": true
                                },
                                {
                                    "name": "cdlsdc02",
                                    "url": "http://172.18.50.100:{{ kea_ctrl_agent_port }}/",
                                    "role": "standby",
                                    "auto-failover": true
                                }
                            ]
