"reservations": [
    {
        "hw-address": "00:15:5d:af:58:00",
        "ip-address": "172.20.50.2",
        "hostname": "rstvapps01"
    },
    {
        "hw-address": "3c:2a:f4:b7:19:83",
        "ip-address": "172.20.12.1",
        "hostname": "rstv1040872"
    },
    {
        "hw-address": "00:17:c8:14:2a:e5",
        "ip-address": "172.20.12.2",
        "hostname": "rstv1040790"
    },
    {
        "hw-address": "9c:93:4e:ac:8d:cd",
        "ip-address": "172.20.12.3",
        "hostname": "rstv1040954"
    },
    {
        "hw-address": "24:5e:be:30:f9:0c",
        "ip-address": "172.20.0.4",
        "hostname": "rstvstorage01"
    },
    {
        "hw-address": "24:5e:be:30:f9:0d",
        "ip-address": "172.20.0.104",
        "hostname": "rstvstorage01"
    },
    {
        "hw-address": "00:15:5d:af:58:03",
        "ip-address": "172.20.50.3",
        "hostname": "rstvaf01"
    },
    {
        "hw-address": "00:15:5d:af:58:02",
        "ip-address": "172.20.50.10",
        "hostname": "rstvfiles01"
    },
    {
        "hw-address": "00:15:5d:8c:84:00",
        "ip-address": "172.20.7.12",
        "hostname": "rstvvpnclient01"
    },
    {
        "hw-address": "00:15:5d:01:e1:00",
        "ip-address": "172.20.50.100",
        "hostname": "rstvdc02"
    }
]
