[Unit]
Description=Semaphore Ansible
Documentation=https://github.com/ansible-semaphore/semaphore
Wants=network-online.target
After=network-online.target

[Service]
User={{ deploy_semaphore_service_user }}
Group={{ deploy_semaphore_service_group }}
Restart=on-failure
RestartSec=60
Type=simple
ExecReload=/bin/kill -HUP $MAINPID
ExecStart={{ deploy_semaphore_installation_directory }}/semaphore service --config={{ deploy_semaphore_config_file }}
SyslogIdentifier=semaphore

[Install]
WantedBy=multi-user.target