driver = pgsql
default_pass_scheme = ARGON2ID
connect = \
  host={{ postgresql.host }} \
  port={{ postgresql.port }} \
  dbname={{ postgresql.mail_server_database }} \
  user={{ postgresql.mail_server_user_name }} \
  password={{ postgresql.mail_server_user_pass }}

user_query = SELECT fqda as user, \
  '*:bytes=' || quota_bytes AS "quota_rule", \
  '{{ [dovecot.mail_storage_user_home, '%d', '%n'] | ansible.builtin.path_join }}' AS "home", \
  {{ dovecot.mail_storage_uid }} AS "uid", \
  {{ dovecot.mail_storage_gid }} AS "gid" \
  FROM users_fqda \
  WHERE \
  fqda = '%u' \
  AND send_only = false;

password_query = SELECT fqda AS user, password_hash AS password FROM users_fqda WHERE fqda = '%u' AND enabled = true;

iterate_query = SELECT fqda AS user FROM users_fqda WHERE send_only = false;
